.product-cards {
  .w3-col; 
  .w3-container; 
  .m6; 
  .l4; 
  .w3-center;
  .w3-padding-16;
}
  
  /* Red banner styling */
  
  .banner-colors {
    background-color: rgb(194, 30, 12);
    color: whitesmoke;
  }

  /*-------------------------*/
  /* w3.css specific styling */
  /*-------------------------*/
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Roboto", monospace;
  }
  
  body,
  html {
    height: 100%;
    color: #777;
    line-height: 1.8;
  }
  
  /* Create a Parallax Effect */
  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* Turn off parallax scrolling for tablets and phones */
  @media only screen and (max-device-width: 1024px) {
    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
      background-attachment: scroll;
      min-height: 400px;
    }
  }
  