/* Red banner styling */
.banner-colors {
  background-color: #c21e0c;
  color: whitesmoke;
}

html, body {margin: 0; height: 100%; overflow: hidden}

canvas
{
  display: block;
}

/*-------------------------*/
/* w3.css specific styling */
/*-------------------------*/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", monospace;
}

